* {
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid red; */
}

body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #000a14;
    color: #ffffff;
    margin: 0px;
    padding: 8px 256px 16px 256px;

}


.logo-name {
    font-size: 24px;
    font-weight: bolder;
}

.pagelinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 18px;

}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.hero {
    background-color: #000a14;
}

.hero-content {
    display:flex;
    justify-content: space-evenly;
    color: #ffffff;
    padding: 32px 128px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
    color: #ffffff
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    color: #ffffff;
    padding: 0px 128px;
}

.hero-img {
    display: flex;
    justify-content: center;
    padding: 0px 126px;
}

.signup {
    width: 128px;
    height: 40px;
    border-radius: 8px;
    background-color: #222a33;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    align-self: flex-start;
}


.information-header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 16px;
    color: #000a14;
    margin: 0px;
    padding-top: 64px;
    padding-bottom: 64px;
    background: #ffffff;
}

.info-me {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    background: #ffffff;
}



.info-me-1, .info-me-2, .info-me-3, .info-me-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 200px;
    height: 500px;
    text-align: center;
    color: #000a14;
    font-size: 18px;
    font-weight: 100;
}

img {
    border-radius: 26px;
    border: 4px solid #000a14;
}

.quote-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px;
    font-size: 36px;
    color: #1F2937;
    background-color: #d4d4d4;
}

#quote {
    font-family: 'roboto light';
    font-weight: lighter;
    font-style: italic;
}

#john-marston {
    align-self: flex-end;
    font-style: normal;
}

.banner-top, .sign-up-message {
    padding: 0px;
    margin: 0px;
}

.banner-top {
    font-size: 32px;
    font-weight: bold;
}

.sign-up-message {
    font-size: 18px;
    font-weight: 100;
}

.call-to-action {
    display:flex;
    margin: 128px;
    padding: 0px 128px;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    background-color: #000a14;
    padding: 32px 128px;
    border-radius: 16px;
    color: #ffffff;
    height: 100px;
    flex: auto;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: auto;
}

.sign-up-2 {
    align-self: center;
    justify-content: center;
    width: 128px;
    height: 40px;
    border-radius: 8px;
    background-color: #000a14;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #000a14;
    color: #FFFFFF;
    height: auto;
    margin: 0px;
    padding: 32px;
    font-size: 18px;
    font-weight: lighter;
}